h1 {
    color: white;
}

body {
    background: #c19e67; /* Old browsers */
    background: -moz-linear-gradient(left, #c19e67 68%, #e0caac 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #c19e67 68%,#e0caac 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #c19e67 68%,#e0caac 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

#sub-menu {
    display: table;
}

#front-page-menu {
    margin: 0 auto;
    padding: 2em;
    float: left;
    line-height: 1;
    position: relative;
    text-align: center
}

#text1 {
    font-weight: 700;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    font-size: 1em;
    position: relative;
    color: #ffffff;
    padding: 0;
    margin: 0;
    display: inline;
}



#sub-menu>ul>li {
    color: #ffffff;
    padding: 0;
    margin: 0;
    display: inline;
    font-weight: 700;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    font-size: 1em;
    position: relative;
}
#iframe {
    width: 45em;
    height: 30em;
    position:relative;
    display: block;   
}

.front-page-link {
    color: white;
    background-color: cadetblue;
    padding: 1em 0;
    text-decoration: none;
}

.forms {
    float: right;
    width: 20%;
    padding: 0 20em 0 0;
}

input {
    width: 100%;
    display: inline-block;
}

.g-signin2 {
    float: right;
}

#map {
    height: 20em;
    width: 30%;
    position: relative;
    align-self: center;
}