<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="head :: head">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
    <h1>Teras-Scape</h1>
    <div id="sub-menu">
        <ul>
            <li><a href="/templates/forums.html"><span>Forums</span></a></li>
            <li> Welcome to the best Runescape server! </li>
            <li> Download</li>
        </ul>
    </div>
    <iframe width="420" height="315"
src="https://www.youtube.com/embed/s5TxIynodew?autoplay=1">
</iframe>
</body>
</html>
